<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <h1>
    Welcome to Ngx Neo IndexedDB!
  </h1>
  <h2>Here are some examples</h2>
  <div class="row form-group">
    <div class="col">
      <div class="form-group">
        <label for="exampleInputname1">name</label>
        <input type="name" class="form-control" id="exampleInputname1" placeholder="name" [(ngModel)]="newName">
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email"
          [(ngModel)]="newEmail">
      </div>
      <button class="btn btn-primary" (click)="saveToDb()">Save to db</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <button class="btn btn-primary" (click)="reloadAll()">Reload from DB</button>
      <ul class="list-group mt-1">
        <li class="list-group-item" *ngFor="let person of people">
          {{person | json}}
        </li>
      </ul>
    </div>
  </div>
  <div class="row form-group">
    <div class="col">
      <div class="form-group">
        <label for="exampleInputid1">Person id</label>
        <input type="number" class="form-control" id="exampleInputid1" aria-describedby="idHelp" [(ngModel)]="findId">
      </div>
      <button class="btn btn-primary" (click)="getById()">Find by id</button>
      <ul class="list-group mt-1" *ngIf="selected">
        <li class="list-group-item">
          {{selected | json}}
        </li>
      </ul>
    </div>
  </div>
</div>